.container {width:980px;
      margin:0 auto;
      padding:15px 25px;
      border:5px solid LightPink;
      background:#fff; 
}
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Spartan', sans-serif, 'Roboto Mono','Prata';
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    
}
body{
    border: 5px solid White;
}
h1{
    font-size: 3em;
    font-family:'Spartan', sans-serif,'Cedarville Cursive','Roboto Mono','Prata';
}
h2{
    font-size:1.7em;
    font-family:'Spartan', sans-serif,'Roboto Mono','Prata';
}
p {
    font-family:'Spartan', sans-serif,'Cedarville Cursive','Roboto Mono','Prata';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
